<!DOCTYPE HTML>
<html layout:decorate="layouts/base">
    <head>
        <title>Content page</title>
    </head>
    <body>
        <div layout:fragment="main">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-4">Welcome to EducationalSystem2.0</h1>
                    <p class="lead">Add Subjects Here</p>
                    <p><a class="btn btn-primary" href="./subjects/new" role="button">New Subject</a></p>
                </div>
            </div>
        </div>
    </body>
</html>